body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgb(195, 195, 195);
    display: flex;
    flex-direction: column;
    padding-right: 135px;
}
nav{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
}
.logo_titulo{
    flex: 1;
    margin-left: 135px;
    margin-right: 135px;
}
.logo{
    text-align: right;
}
.link_logo{
    flex: 1;
    font-size: 27px;
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
}
#logo_titulo{
    flex: 1;
    font-size: 55px;
    font-weight: lighter;
    color: rgb(91, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
}
.intro{
    flex: 1;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.div_intro{
    flex: 1;
    margin-left: 135px;
    max-width: 400px;
}
.slider{
    justify-content: left;
    align-items: center;    
    display: flex;
    flex: 1;
    margin-left: 20px;
    background-color: rgb(159, 159, 159);
    margin-bottom: 40px;
    padding-left: 120px;
}
.slider p{
    justify-content: center;
    align-items: center;
}
#intro_titulo{
    flex: 1;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(91, 91, 91);
}
p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 35px;
    color: rgb(91, 91, 91);
}
.bolinha{
    display: flex;
    flex-direction: row;
    min-height: 100px;
    gap: 30px;
    align-items: center;
    margin-left: 820px;
    margin-right: 145px;
}
.icone_bolinha{
    flex: 1;
    background-color: rgb(195, 195, 195);
    border-radius: 50%;
    height: 20px;
    max-width: 20px;
}
main{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}
main .services{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 50px;
}
main .recent_work{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    gap: 25px;
    margin-bottom: 50px;
}
.quadrado{
    flex: 1;
    justify-content: left;
    align-items: center;    
    display: flex;
    background-color: rgb(195, 195, 195);
    min-height: 370px;
    padding-left: 70px;
}
.twitter{
    justify-content: left;
    align-items: center;    
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(195, 195, 195);
    min-height: 120px;
    margin-bottom: 40px;
    padding-left: 50px;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(195, 195, 195);
    min-height: 120px;
    padding-left: 135px;
    padding-right: 135px;
}
.link_rodape{
    justify-content: left;
    align-items: center;    
    display: flex;
    font-size: 27px;
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
}
.rodape_link{
    flex: 1;
    font-size: 27px;
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
}
.rodape_copyright{
    flex: 1;
    justify-content: right;
    align-items: center;    
    display: flex;
}
.copyright{
    font-size: 27px;
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}